/* shared */
.color{
    color: #E6533C;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-white{
    color: white;
}
.bg-color{
    background-color: #E6533C;
    color: white;
    padding:10px;
    border-radius: 10px;
    border: none;
}
.bg-color-black{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.size{
    padding: 16px 40px;
    font-size: 16px;
}

.bg-blur{
    background-color: rgba(48, 48, 48, 0.54);
}

.flex{
    display: flex;
}

.dark-1{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

/* nav */

.container{
    display: flex;
    justify-content: space-between;
    margin: 57px 190px;
}

.navbar a{
    text-decoration: none;
}

.navbar{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-top: 3rem;
    font-size: 18px;
    
}
.logo h2{
    font-size: 36px;
    font-weight: 900;
}

/* main part */
 /* section-1 */

 .sec-1{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
 }

.body-shape{
    font-size: 78px;
    font-family: "inter";
    max-width: 520px;
    max-height: 281px;
}
.shape{
font-family: "Dancing Script", cursive;
font-weight: lighter;

}

.sec-1 p{
    max-width: 520px;
    max-height: 48px;
    font-size: 14px;
}

.flex .circle{
    background-color: #E6533C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mother{
    gap: 52px;
}

.video-tutorial{
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    stroke: rgba(255, 255, 255, 0.1);
    margin-top: -190px;
    margin-bottom: 250px;
    margin-left: -100px;
    
}
.video-tutorial strong{
    font-size: 24px;
}

.free-workout{
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    stroke: rgba(255, 255, 255, 0.1);
    margin-top: -450px;
    margin-bottom: 500px;
    margin-left: 80px;
    
}
.free-workout strong{
    font-size: 40px;
}
/* section-2 */

.sec-2{
    margin-top: 100px;
}

.habit{
    font-size: 48px;
}

.change-your{
    align-items: center;
    text-align: center;
}

.others{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 58px;
}

.other img{
    border-radius: 50%;
}














@media screen and (max-width:576px) {
    .container{
        flex-direction:column;
        width:80%;
        margin: 0 auto;
    }

    .sec-1{
        flex-direction: column;
        gap: 50px;
    }
    .advice{
        margin-top: 240px;
    }
    .button{
        display: flex;
        gap: 15px;
        margin-top: 50px;
    }
    .others{
        grid-template-columns: repeat(1, 1fr);
    }
    
}